<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRocketService" />
                <binding name="BasicHttpBinding_IPayloadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RocketService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRocketService" contract="RocketService.IRocketService"
                name="BasicHttpBinding_IRocketService" />
            <endpoint address="http://localhost:8008/PayloadService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPayloadService" contract="PayloadService.IPayloadService"
                name="BasicHttpBinding_IPayloadService" />
        </client>
    </system.serviceModel>
</configuration>